@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App.sidebar-open {
  position: relative;
  min-height: 100vh; /* Gunakan min-height agar elemen mengisi seluruh tinggi viewport */
  min-width: 100%;
  left: 88px;
  background: var(--body-color);
  transition: var(--tran-04);
}

.App.sidebar-closed {
  position: relative;
  min-height: 100vh; /* Gunakan min-height agar elemen mengisi seluruh tinggi viewport */
  min-width: 100%; /* Gunakan min-width agar elemen mengisi seluruh lebar viewport */
  left: 265px;
  background: var(--body-color);
  transition: var(--tran-04);
}

.App.dark {
  background: var(--DarkMode-color);
  color: white;
  min-height: 100vh; /* Gunakan min-height agar elemen mengisi seluruh tinggi viewport */
  min-width: 100%; /* Gunakan min-width agar elemen mengisi seluruh lebar viewport */
  transition: var(--tran-04);
}

:root {
  --body-color: #FEFDED;
  --sidebar-color: #156437;
  --primary-color: #fff;
  --primary-color-light: #114232;
  --toggle-color: #ddd;
  --text-color: #fff;
  --DarkMode-color: #18191a;

  /* ==== Transition ==== */

  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  height: 100vh;
  transition: var(--tran-02);
  font-weight: 400;
  position: relative;
  background-color: #156437;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 52px;
  height: 52px;
  background: #156437;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid #BFF6C3;
}

.social-icon a::before {
  content: "";
  width: 52px;
  height: 52px;
  position: absolute;
  background-color: #BFF6C3;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}

.banner {
  margin-top: 0;
  padding: 50px 0 0 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: #156437;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  color: #fff;
  font-family: "Gabriela", serif;
}

.banner h1 {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1;
  margin-bottom: 20px;
  display: block;
  width: 96%;
}

.banner p {
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0.8px;
  line-height: 1.6em;
  width: 95%;
}

.banner a {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 10px;
  width: 30%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(21, 100, 55, 0.5);
}

.banner a svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner a:hover {
  color: #156437;
}

.banner a:hover svg {
  margin-left: 25px;
}

.banner .imgLogoPkm {
  width: 430px;
  height: 430px;
  border-radius: 20%;
  animation: updown 3s linear infinite;
}

.bannerFlex {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 94%;
}

.supportLogo {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.supportLogo img {
  width: 64px;
  justify-content: space-between;
  margin: 15px 15px 0 5px;
}

.banner h2 {
  margin: 30px 0 10px 0;
  font-family: "Gabriela", serif;
}

.footerCreator {
  margin-bottom: 150px;
}

.deskWrapper {
  /* margin-left: 50px; */
  width: 100%;
}

.banner .imgLogoSkripsiTwo {
  width: 430px;
  height: 430px;
  border-radius: 100%;
  transition: all 0.5s ease;

}

.image-wrapper {
  max-width: 35%;
  padding: 0 20px;
  text-align: right;
  margin-right: 100px;
}

.image-wrapper .image-inner {
  border-radius: 100%;
  width: 430px;
  height: 430px;
  margin-bottom: 50px;
  /* border: 3px solid #156437; */
  -webkit-box-shadow: 1px 5px 15px #156437;
  -moz-box-shadow: 1px 5px 15px #156437;
  box-shadow: 1px 5px 15px #156437;
  position: relative;
  overflow: hidden;
}

.image-wrapper .imgLogoSkripsiTwo:hover {
  transform: scale(1.1);
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

@media (max-width: 820px) {
  .banner .imgLogoPkm {
    display: none;
  }

  .banner .image-wrapper {
    display: none;
  }

  .banner a {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 10px;
    width: 98%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(21, 100, 55, 0.5);
  }

  .banner p {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0.8px;
    line-height: 1.3em;
    text-align: justify;
    width: 98%;
  }

  .banner h1 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1;
    margin-bottom: 20px;
    display: block;
    width: 98%;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 94%;
    margin-left: 0.5rem;
  }

  .supportLogo {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
}

@media (min-width: 3000px) {
  .banner p {
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }

  .bannerFlex {
    display: flex;
    align-items: center;
    width: 30%;
  }

  .banner h1 {
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1;
    margin-bottom: 20px;
    display: block;
    width: 96%;
  }
}
